.rides-table-heading{
    display: flex;
    padding: 10px 0;
}

.rides-table-actions{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rides-table-filter{
    height: 30px;
    min-width: 200px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 5px;
}

.border-bottom{
    border-bottom: 1px solid #e6e6e6;
}

.rides-table-newRide{
    width: 200px;
}